* {
  font-family: 'Raleway', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  background-color: mediumblue;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.col {
  box-sizing: border-box;
}

.cell {
  pointer-events: all;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 63px;
  margin: 10px;
  box-shadow: inset 0px 0px 30px -3px rgba(0,0,0,0.75);
}


