* {
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #efefef;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  margin: 30px;
  background-color: mediumblue;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-sizing: border-box;
}

.col {
  box-sizing: border-box;
}

.cell {
  pointer-events: all;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 63px;
  margin: 10px;
  box-shadow: inset 0px 0px 30px -3px rgba(0,0,0,0.75);
}

.msg__status {
  margin: 0;
  height: 30px;
  width: auto;
  font-weight: bold;
  font-size: 36px;
}

.btn__reset {
  margin-bottom: 15px;
}